{% extends "core/header.html" %}
{% block content %}


<!--Main Navigation-->
<img class="img-fluid" src="{{ object.image.url }}">
<!--Main layout-->
<div class="aspect-ratio-box">
  <img class="img-fluid" src="{{ object.image.url }}">
</div>
<main class="mt-5">
  <div class="container">
    <!--Section: Content-->
    <section>
      <div class="row">
        <div class="col-md-6 gx-5 mb-4">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img src="static/core/images/logo.png.jpg" class="img-fluid" />
            <a href="#!"> 
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-6 gx-5 mb-4">
          <h4><strong>Somos Rincón Urbano</strong></h4>
          <p class="text-muted">
            Somos un grupo de jovenes apasionados por nuestra ciudad de Santiago, buscamos crear una comunidad
            que permita generar un medio de comunicación alternativo que exprese las opiniones de forma auténtica 
            y sin censuras.
          </p>
          <p><strong>Buscamos tu participación</strong></p>
          <p class="text-muted">
            Queremos formar una comunidad de exploradores urbanos, apasionados igual que nosotros y con ánimo de
            contribuir, a partir de la opinión, una ciudad más abierta, inclusiva e interesante. Buscamos renovar el interés 
            publico por nuestra ciudad.
          </p>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    
    <h1>Indicador Económico</h1>
    <p>El valor del indicador económico es: <span id="indicator-value"></span></p>

    <hr class="my-5" />
    <section class="text-center">
     <h4 class="mb-5"><strong>Categorias</strong></h4>
    <div class="row display-flex justify-content-start">
      
    {% for object in objects %}
    
        <div class="col-lg-4 col-md-6 col-sm-12 mobiledevice">
            <article class="media content-section customhover" style="height: 95%;">
                <div class="media-body">
                    <a href="/{{object.slug}}">
                        <img class="img-fluid" src="/">
                    </a>
                    <div class="article-metadata">
                      <a class="mr-2" href="{% url 'profile' object.author %}">{{ object.author }}</a>
                      <small class="text-muted">{{ object.published|date:"F d, Y" }}</small>
                  </div>
                    <div>
                        <a class="article-title line-clamp-2 title-style" style="font-size: 22px" href="/{{object.slug}}">
                            {{ object.title }}
                        </a>
                        <a href="/{{object.slug}}" style="text-decoration: none;">
                            <p class="article-content line-clamp-5 subtitle-style">{{ object.subtitle }}</p>
                        </a>
                    </div>
                </div>
            </article>
        </div>

        {% if object.author == user %}
    <div style="float: right">
        {% if type == "series" %}
            <a class="btn btncolor btn-sm mt-1 mb-1" href="{% url 'series_update' object.slug %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'series_delete' object.slug %}">Delete</a>                   
        {% else %}
            <a class="btn btncolor btn-sm mt-1 mb-1" href="{% url 'article_update' object.series.slug  object.article_slug %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'article_delete' object.series.slug  object.article_slug %}">Delete</a>                      
        {% endif %}
    </div>
{% endif %}
    {% endfor %}

    
    </div>
     <!--Section: Content-->
     <hr class="my-5" />
     <section class="text-center">
      <h4 class="mb-5"><strong>Publicaciones Relevantes</strong></h4>

      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img
                src="https://finde.latercera.com/wp-content/uploads/2020/11/Bar-Nacional.jpg"
                class="img-fluid"
              />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">"Una pésima noticia"</h5>
              <p class="card-text">
              Clientes y Asociación de Gastronomía lamenta cierre de local de Bar Nacional
              </p>
              <a href="https://www.biobiochile.cl/noticias/nacional/region-metropolitana/2022/02/17/una-pesima-noticia-clientes-y-asociacion-de-gastronomia-lamenta-cierre-de-local-de-bar-nacional.shtml" class="btn btn-primary">Leer</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img
                src="https://finde.latercera.com/wp-content/uploads/2022/08/Restaurant-Las-Carretas-de-Cauquenes-49-ok.jpg"
                class="img-fluid"
              />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Pura sabrosura</h5>
              <p class="card-text">
                25 Picadas de Santiago buenas, bonitas y baratas
              </p>
              <a href="https://finde.latercera.com/comer/picadas-en-santiago-abiertas-2023-marzo/" class="btn btn-primary">Leer</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/2/20/Terminal_Aeropuerto_Pudahuel.jpg"
                class="img-fluid"
              />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Opinión: La necesidad de un segundo aeropuerto</h5>
              <p class="card-text">
                Discutimos las nuevas necesidades a partir del gran aumento del tráfico aéreo en nuestra ciudad a partir del final de la pandemia
              </p>
              <a href=article class="btn btn-primary">Leer</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />
    <script src= "includes/indicador.js"></script>
{% endblock content %}

<script src= "includes/indicador.js"></script>
<script src= "includes/apiferiados.js"></script>