{% extends "core/header.html" %}
{% block content %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="styles.css">

  <title>Rincón Urbano</title>
</head>
<body>
  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="https://wallpapercave.com/wp/wp8266322.png" class="d-block w-100 c-img" alt="Slide 1">
        <div class="carousel-caption top-0 mt-4">
          <p class="mt-5 fs-3 text-uppercase">El portal de la ciudad</p>
          <h1 class="display-1 fw-bolder text-capitalize">Bienvenido al Rincón urbano</h1>
          <button class="btn btn-primary px-4 py-2 fs-5 mt-5" >Registrate</button>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://e1.pxfuel.com/desktop-wallpaper/145/42/desktop-wallpaper-1920x1080-anime-blue-anime-blue.jpg" class="d-block w-100 c-img" alt="Slide 2">
        <div class="carousel-caption top-0 mt-4">
          <p class="text-uppercase fs-3 mt-5">Una comunidad en crecimiento</p>
          <p class="display-1 fw-bolder text-capitalize">Si ya tienes una cuenta  ¡Logueate!</p>
          <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
            data-bs-target="#booking-modal">Loguearse</button>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://wallpaperaccess.com/full/435928.jpg" class="d-block w-100 c-img" alt="Slide 3">
        <div class="carousel-caption top-0 mt-4">
          <p class="text-uppercase fs-3 mt-5">Actualizaciones todos los días</p>
          <p class="display-1 fw-bolder text-capitalize">Siguenos en Instagram</p>
          <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
            data-bs-target="#booking-modal">Instagram</button>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</body>

<!--Main Navigation-->
<img class="img-fluid" src="{{ object.image.url }}">
<!--Main layout-->

<main class="mt-5">
  <div class="container">
    <!--Section: Content-->
    <section>
      <div class="row">
        <div class="col-md-6 gx-5 mb-4">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img src="static/core/images/logo.png.jpg" class="img-fluid" />
            <a href="#!"> 
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-6 gx-5 mb-4">
          <h4><strong>Somos Rincón Urbano</strong></h4>
          <p class="text-muted">
            Somos un grupo de jovenes apasionados por nuestra ciudad de Santiago, buscamos crear una comunidad
            que permita generar un medio de comunicación alternativo que exprese las opiniones de forma auténtica 
            y sin censuras.
          </p>
          <p><strong>Buscamos tu participación</strong></p>
          <p class="text-muted">
            Queremos formar una comunidad de exploradores urbanos, apasionados igual que nosotros y con ánimo de
            contribuir, a partir de la opinión, una ciudad más abierta, inclusiva e interesante. Buscamos renovar el interés 
            publico por nuestra ciudad.
          </p>
        </div>
      </div>
    </section>

    <head>
      <title>Obtener una cita aleatoria</title>
      <style>
        h1 {
          text-align: center;
        }
        #quote-box {
          border: 1px solid black;
          padding: 10px;
        }
      </style>
    </head>
    <body>
      <h1>Sabiduría Urbana</h1>
      <div id="quote-box">
        <p id="quote"></p>
        <p id="author"></p>
      </div>
      <script>
        const url = 'https://quotes15.p.rapidapi.com/quotes/random/';
        const options = {
          method: 'GET',
          headers: {
            'X-RapidAPI-Key': '86241c9f4cmsh1f3bc78d63a4d6cp17611ejsn63faebce58b4',
            'X-RapidAPI-Host': 'quotes15.p.rapidapi.com'
          }
        };
    
        fetch(url, options)
          .then(response => response.json())
          .then(result => {
            const quote = result.content;
            const author = result.originator.name;
            document.getElementById('quote').innerText = quote;
            document.getElementById('author').innerText = `— ${author}`;
          })
          .catch(error => console.error(error));
      </script>
    </body>
    
    
  

    <!--Section: APIS-->


  <!--
    <h1>Clima en Madrid</h1>
	<div id="clima-info"></div>


    <title>Información del Clima</title>
  </head>
  <body>
    <h1>Información del Clima</h1>
    <div id="weather-description"></div>
    <div id="temp-celsius"></div>
    <div id="temp-fahrenheit"></div>
    <div id="humidity"></div>
    
    <h1>Indicador de tipo de cambio GBP/USD</h1>
  <div id="exchange-rate"></div>
-->



    <hr class="my-5" />
    <section class="text-center">
     <h4 class="mb-5"><strong>Categorias</strong></h4>
    <div class="row display-flex justify-content-start">
      
    {% for object in objects %}
    
        <div class="col-lg-4 col-md-6 col-sm-12 mobiledevice">
            <article class="media content-section customhover" style="height: 95%;">
                <div class="media-body">
                    <a href="/{{object.slug}}">
                        <img class="img-fluid" src="/">
                    </a>
                    <div class="article-metadata">
                      <a class="mr-2" href="{% url 'profile' object.author %}">{{ object.author }}</a>
                      <small class="text-muted">{{ object.published|date:"F d, Y" }}</small>
                  </div>
                    <div>
                        <a class="article-title line-clamp-2 title-style" style="font-size: 22px" href="/{{object.slug}}">
                            {{ object.title }}
                        </a>
                        <a href="/{{object.slug}}" style="text-decoration: none;">
                            <p class="article-content line-clamp-5 subtitle-style">{{ object.subtitle }}</p>
                        </a>
                    </div>
                </div>
            </article>
        </div>

        {% if object.author == user %}
    <div style="float: right">
        {% if type == "series" %}
            <a class="btn btncolor btn-sm mt-1 mb-1" href="{% url 'series_update' object.slug %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'series_delete' object.slug %}">Delete</a>                   
        {% else %}
            <a class="btn btncolor btn-sm mt-1 mb-1" href="{% url 'article_update' object.series.slug  object.article_slug %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'article_delete' object.series.slug  object.article_slug %}">Delete</a>                      
        {% endif %}
    </div>
{% endif %}
    {% endfor %}

    
    
    </div>
     <!--Section: Content-->
     <hr class="my-5" />
     <section class="text-center">
      <h4 class="mb-5"><strong>Publicaciones Relevantes</strong></h4>

      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img
                src="https://finde.latercera.com/wp-content/uploads/2020/11/Bar-Nacional.jpg"
                class="img-fluid"
              />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">"Una pésima noticia"</h5>
              <p class="card-text">
              Clientes y Asociación de Gastronomía lamenta cierre de local de Bar Nacional
              </p>
              <a href="https://www.biobiochile.cl/noticias/nacional/region-metropolitana/2022/02/17/una-pesima-noticia-clientes-y-asociacion-de-gastronomia-lamenta-cierre-de-local-de-bar-nacional.shtml" class="btn btn-primary">Leer</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img
                src="https://finde.latercera.com/wp-content/uploads/2022/08/Restaurant-Las-Carretas-de-Cauquenes-49-ok.jpg"
                class="img-fluid"
              />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Pura sabrosura</h5>
              <p class="card-text">
                25 Picadas de Santiago buenas, bonitas y baratas
              </p>
              <a href="https://finde.latercera.com/comer/picadas-en-santiago-abiertas-2023-marzo/" class="btn btn-primary">Leer</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/2/20/Terminal_Aeropuerto_Pudahuel.jpg"
                class="img-fluid"
              />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Opinión: La necesidad de un segundo aeropuerto</h5>
              <p class="card-text">
                Discutimos las nuevas necesidades a partir del gran aumento del tráfico aéreo en nuestra ciudad a partir del final de la pandemia
              </p>
              <a href=article class="btn btn-primary">Leer</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />
    <script src= "includes/indicador.js"></script>
{% endblock content %}
<script src= "includes/indicador.js"></script>
<script src= "includes/apiferiados.js"></script>
<script src="includes/clima.js"></script>
