<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Articulo | Rincón Urbano</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <style>
        
        .navbar .nav-link {
        color: #0e0d0d !important;
      }
    </style>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand nav-link" target="_blank" href="/rinconUrbano.html">
        <strong>Rincón Urbano</strong>
      </a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="profile.html">Mi Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.youtube.com/watch?v=1Pq79-lv1tI" rel="nofollow"
              target="_blank">Bienvenido a Chile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.tripadvisor.cl/Attractions-g294291-Activities-Chile.html" target="_blank">Recomendaciones</a>
          </li>
        </ul>

        <ul class="navbar-nav d-flex flex-row">
          <!-- Icons -->
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://www.youtube.com/watch?v=1Pq79-lv1tI" rel="nofollow"
              target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://www.facebook.com/mdbootstrap" rel="nofollow" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://twitter.com/MDBootstrap" rel="nofollow" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://github.com/mdbootstrap/mdb-ui-kit" rel="nofollow" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

</header> 
   
    <div class="container">

        <!-- Grid row -->
        <div class="row mt-5">
      
          <!-- Grid column -->
          <div class="col-md-8 mb-4">
      
            <h1 class="font-weight-bold">Opinión</h1>
            <h3 class="dark-grey-text">La necesidad de un segundo aeropuerto en Santiago</h3>
      
            <div class="card my-4">
              <img src="https://upload.wikimedia.org/wikipedia/commons/2/20/Terminal_Aeropuerto_Pudahuel.jpg" class="img-fluid" alt="">
            </div>
      
            <p class="h5 my-4">Sebastián Catalán </p>
      
            <blockquote class="blockquote">
              <p class="mb-0">Discutimos la extrema necesidad de aumentar el número de zonas de embarque en Santiago

              </p>

            </blockquote>
      
            <p class="h5 my-4">That's a very long heading </p>
      
            <p align="justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, ut rerum deserunt corporis
              ducimus at, deleniti ea alias dolor reprehenderit sit vel. Incidunt id illum doloribus,
              consequuntur maiores sed eligendi. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
      
            <p align="justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, ut rerum deserunt corporis
              ducimus at, deleniti ea alias dolor reprehenderit sit vel. Incidunt id illum doloribus,
              consequuntur maiores sed eligendi. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
      
            <p align="justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, ut rerum deserunt corporis
              ducimus at, deleniti ea alias dolor reprehenderit sit vel. Incidunt id illum doloribus,
              consequuntur maiores sed eligendi. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
      
            <p align="justify">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
    
            <ul class="list-unstyled list-inline text-center">
              <li class="list-inline-item"><a><i class="fab fa-facebook-f fa-lg px-2 text-primary"></i></a></li>
              <li class="list-inline-item"><a><i class="fab fa-twitter fa-lg px-2 text-info"></i></a></li>
              <li class="list-inline-item"><a><i class="far fa-envelope fa-lg px-2 text-default"></i></a></li>
            </ul>
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-md-4 mb-4">
      
            <section class="magazine-section mb-5">
      
              <h5 class="font-weight-bold text-center mb-4 pb-2">Articulos Destacados</h5>
      
              <!-- Grid row -->
              <div class="row">
      
                <!-- Grid column -->
                <div class="col-md-12">
      
                  <!-- Small news -->
                  <div class="single-news mb-4">
      
                    <!-- Grid row -->
                    <div class="row">
      
                      <!-- Grid column -->
                      <div class="col-md-3">
      
                        <!--Image-->
                        <div class="view overlay rounded z-depth-1 mb-4">
                          <img class="img-fluid" src="https://finde.latercera.com/wp-content/uploads/2020/11/Bar-Nacional.jpg" alt="Bar Nacional">
                          <a>
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
      
                      </div>
                      <!-- Grid column -->
      
                      <!-- Grid column -->
                      <div class="col-md-9">
      
                        <!-- Excerpt -->
                        <p class="font-weight-bold dark-grey-text">26/02/2023</p>
                        <div class="d-flex justify-content-between">
                          <div class="col-11 text-truncate pl-0 mb-3">
                            <a href="https://www.biobiochile.cl/noticias/nacional/region-metropolitana/2022/02/17/una-pesima-noticia-clientes-y-asociacion-de-gastronomia-lamenta-cierre-de-local-de-bar-nacional.shtml" class="dark-grey-text">"Una pésima noticia"
                            </a>
                          </div>
                          <a><i class="fas fa-angle-right"></i></a>
                        </div>
      
                      </div>
                      <!-- Grid column -->
      
                    </div>
                    <!-- Grid row -->
      
                  </div>
                  <!-- Small news -->
      
                  <!-- Small news -->
                  <div class="single-news mb-4">
      
                    <!-- Grid row -->
                    <div class="row">
      
                      <!-- Grid column -->
                      <div class="col-md-3">
      
                        <!--Image-->
                        <div class="view overlay rounded z-depth-1 mb-4">
                          <img class="img-fluid" src="https://finde.latercera.com/wp-content/uploads/2022/08/Restaurant-Las-Carretas-de-Cauquenes-49-ok.jpg"
                            alt="Sample image">
                          <a>
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
      
                      </div>
                      <!-- Grid column -->
      
                      <!-- Grid column -->
                      <div class="col-md-9">
      
                        <!-- Excerpt -->
                        <p class="font-weight-bold dark-grey-text">25/02/2022</p>
                        <div class="d-flex justify-content-between">
                          <div class="col-11 text-truncate pl-0 mb-3">
                            <a href="https://finde.latercera.com/comer/picadas-en-santiago-abiertas-2023-marzo/" class="dark-grey-text">Pura Sabrosura</a>
                          </div>
                          <a><i class="fas fa-angle-right"></i></a>
                        </div>
      
                      </div>
                      <!-- Grid column -->
      
                    </div>
                    <!-- Grid row -->
      
                  </div>
                  <!-- Small news -->
      
                  <!-- Small news -->
                  <div class="single-news mb-4">
      
                    <!-- Grid row -->
                    <div class="row">
      
                      <!-- Grid column -->
                      <div class="col-md-3">
      
                        <!--Image-->
                        <div class="view overlay rounded z-depth-1 mb-4">
                          <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/2/20/Terminal_Aeropuerto_Pudahuel.jpg" alt="Sample image">
                          <a>
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
      
                      </div>
                      <!-- Grid column -->
      
                      <!-- Grid column -->
                      <div class="col-md-9">
      
                        <!-- Excerpt -->
                        <p class="font-weight-bold dark-grey-text">24/02/2018</p>
                        <div class="d-flex justify-content-between">
                          <div class="col-11 text-truncate pl-0 mb-3">
                            <a href="articulo.html" class="dark-grey-text">Opinión: Aeropuerto de Santiago</a>
                          </div>
                          <a><i class="fas fa-angle-right"></i></a>
                        </div>
      
                      </div>
                      <!-- Grid column -->
      
                    </div>
                    <!-- Grid row -->
      
                  </div>
                  <!-- Small news -->
      
                  <!-- Small news -->
                  <div class="single-news">
      
                    <!-- Grid row -->
                    <div class="row">
      
                      <!-- Grid column -->
                      <div class="col-md-3">
      
                        <!--Image-->
                        <div class="view overlay rounded z-depth-1 mb-md-0 mb-4">
                          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image">
                          <a>
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
      
                      </div>
                      <!-- Grid column -->
      
                      <!-- Grid column -->
                      <div class="col-md-9">
      
                        <!-- Excerpt -->
                        <p class="font-weight-bold dark-grey-text">23/02/2018</p>
                        <div class="d-flex justify-content-between">
                          <div class="col-11 text-truncate pl-0 mb-lg-3">
                            <a href="#!" class="dark-grey-text">Duis aute irure dolor in reprehenderit in voluptate</a>
                          </div>
                          <a><i class="fas fa-angle-right"></i></a>
                        </div>
      
                      </div>
                      <!-- Grid column -->
      
                    </div>
                    <!-- Grid row -->
      
                  </div>
                  <!-- Small news -->
      
                </div>
                <!--Grid column-->
      
              </div>
              <!-- Grid row -->
      
            </section>
      
            <section class="text-center mb-5">
      
              <h5 class="font-weight-bold mb-4">Etiquetas</h5>
      
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
      
            </section>
      
            <section>
      
              <!-- Default form subscription -->
              <form class="text-center border border-light p-5">
      
                <p class="h4 mb-4">¿Aún no te registras?</p>
      
                <p>Forma parte de nuestra comunidad y obten la posibilidad de comentar nuestras publicaciones.</p>
      
                
      
                <!-- Sign in button -->
                <a class="btn btn-info btn-block" type="submit" href="register.html">Registrarme</a>
      
      
              </form>
              <!-- Default form subscription -->
      
            </section>
      
          </div>
          <!-- Grid column -->
      
        </div>
        <!-- Grid row -->
      
      </div>

 
      <section style="background-color: #191717a4;">
        <div class="container my-5 py-5 text-dark">
          <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-6">
              <div class="card">
                <div class="card-body p-4">
                  <div class="d-flex flex-start w-100">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" alt="avatar" width="65"
                      height="65" />
                    <div class="w-100">
                      <h5>Agrega un comentario</h5>
                     
                      <div class="form-outline">
                        <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                        <label class="form-label" for="textAreaExample">Que te ha parecido?</label>
                      </div>
                      <div class="d-flex justify-content-between mt-3">
                        <button type="button" class="btn btn-success">Enviar</button>
                        <button type="button" class="btn btn-danger">
                          Borrar<i class="fas fa-long-arrow-alt-right ms-1"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section style="background-color: #191717a4;">
        <div class="container my-5 py-5 text-dark">
          <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <h4 class="text-dark mb-0">Comentarios (4)</h4>
                <div class="card">
                  <div class="card-body p-2 d-flex align-items-center">
                    <h6 class="text-primary fw-bold small mb-0 me-1">Comments "ON"</h6>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
                      <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp" alt="avatar" width="40"
                      height="40" />
                    <div class="w-100">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <h6 class="text-primary fw-bold mb-0">
                          lara_stewart
                          <span class="text-dark ms-2">Hmm, This poster looks cool</span>
                        </h6>
                        <p class="mb-0">2 days ago</p>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <p class="small mb-0" style="color: #aaa;">
                          <a href="#!" class="link-grey">Remove</a> •
                          <a href="#!" class="link-grey">Reply</a> •
                          <a href="#!" class="link-grey">Translate</a>
                        </p>
                        <div class="d-flex flex-row">
                          <i class="fas fa-star text-warning me-2"></i>
                          <i class="far fa-check-circle" style="color: #aaa;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" alt="avatar" width="40"
                      height="40" />
                    <div class="w-100">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <h6 class="text-primary fw-bold mb-0">
                          the_sylvester_cat
                          <span class="text-dark ms-2">Loving your work and profile! </span>
                        </h6>
                        <p class="mb-0">3 days ago</p>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <p class="small mb-0" style="color: #aaa;">
                          <a href="#!" class="link-grey">Remove</a> •
                          <a href="#!" class="link-grey">Reply</a> •
                          <a href="#!" class="link-grey">Translate</a>
                        </p>
                        <div class="d-flex flex-row">
                          <i class="far fa-check-circle text-primary"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(20).webp" alt="avatar" width="40"
                      height="40" />
                    <div class="w-100">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <h6 class="text-primary fw-bold mb-0">
                          mindyy_def
                          <span class="text-dark ms-2">Really cool Which filter are you using?
                          </span>
                        </h6>
                        <p class="mb-0">3 days ago</p>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <p class="small mb-0" style="color: #aaa;">
                          <a href="#!" class="link-grey">Remove</a> •
                          <a href="#!" class="link-grey">Reply</a> •
                          <a href="#!" class="link-grey">Translate</a>
                        </p>
                        <div class="d-flex flex-row">
                          <i class="fas fa-user-plus" style="color: #aaa;"></i>
                          <i class="far fa-star mx-2" style="color: #aaa;"></i>
                          <i class="far fa-check-circle text-primary"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(14).webp" alt="avatar" width="40"
                      height="40" />
                    <div class="w-100">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <h6 class="text-primary fw-bold mb-0">
                          t_anya
                          <span class="text-dark ms-2"><span class="text-primary">@macky_lones</span>
                            <span class="text-primary">@rashida_jones</span> Thanks
                          </span>
                        </h6>
                        <p class="mb-0">4 days ago</p>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <p class="small mb-0" style="color: #191717a4;">
                          <a href="#!" class="link-grey">Remove</a> •
                          <a href="#!" class="link-grey">Reply</a> •
                          <a href="#!" class="link-grey">Translate</a>
                        </p>
                        <div class="d-flex flex-row">
                          <i class="far fa-check-circle text-primary"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
 <!-- Footer -->
 <footer
 class="text-center text-lg-start text-white"
 style="background-color: #191717a4"
 >
<!-- Grid container -->
<div class="container p-4 pb-0">
<!-- Section: Links -->
<section class="">
<!--Grid row-->
<div class="row">
 <!--Grid column-->
 <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
   <h5 class="text-uppercase">Rincón Urbano</h5>

   <p>
     Un espacio para cononocer nuestra ciudad, compartir y opinar acerca de las distintas situaciones
     y fenomenos que ocurren en el Gran Santiago. Somos un medio alternativo que busca contar con la participación
     de su comunidad
   </p>
 </div>
 <!--Grid column-->

 <!--Grid column-->
 <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
   <h5 class="text-uppercase">Opinión</h5>

   <ul class="list-unstyled mb-0">
     <li>
       <a href="#!" class="text-white">Link 1</a>
     </li>
     <li>
       <a href="#!" class="text-white">Link 2</a>
     </li>
     <li>
       <a href="#!" class="text-white">Link 3</a>
     </li>
     <li>
       <a href="#!" class="text-white">Link 4</a>
     </li>
   </ul>
 </div>
 <!--Grid column-->

 <!--Grid column-->
 <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
   <h5 class="text-uppercase">Actualidad</h5>

   <ul class="list-unstyled mb-0">
     <li>
       <a href="#!" class="text-white">Link 1</a>
     </li>
     <li>
       <a href="#!" class="text-white">Link 2</a>
     </li>
     <li>
       <a href="#!" class="text-white">Link 3</a>
     </li>
     <li>
       <a href="#!" class="text-white">Link 4</a>
     </li>
   </ul>
 </div>
 <!--Grid column-->

 <!--Grid column-->
 <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
   <h5 class="text-uppercase">Noticias</h5>

   <ul class="list-unstyled mb-0">
     <li>
       <a href="#!" class="text-white">Link 1</a>
     </li>
     <li>
       <a href="#!" class="text-white">Link 2</a>
     </li>
     <li>
       <a href="#!" class="text-white">Link 3</a>
     </li>
     <li>
       <a href="#!" class="text-white">Link 4</a>
     </li>
   </ul>
 </div>
 <!--Grid column-->

 <!--Grid column-->
 <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
   <h5 class="text-uppercase">Comunidad</h5>

   <ul class="list-unstyled mb-0">
     <li>
       <a href="#!" class="text-white">Link 1</a>
     </li>
     <li>
       <a href="#!" class="text-white">Link 2</a>
     </li>
     <li>
       <a href="#!" class="text-white">Link 3</a>
     </li>
     <li>
       <a href="#!" class="text-white">Link 4</a>
     </li>
   </ul>
 </div>
 <!--Grid column-->
</div>
<!--Grid row-->
</section>
<!-- Section: Links -->

<hr class="mb-4" />

<!-- Section: CTA -->
<section class="">
<p class="d-flex justify-content-center align-items-center">
 <a type="button" class="btn btn-outline-light btn-rounded" href="https://www.instagram.com/rurbanocl/">
   Siguenos en nuestro Instagram
 </a>
</p>
</section>
<!-- Section: CTA -->

<hr class="mb-4" />

<!-- Grid container -->

<!-- Copyright -->
<div
class="text-center p-3"
style="background-color: rgba(0, 0, 0, 0.2)"
>
© 2023 Copyright:
<a class="text-white" href="https://github.com/NibelungoCL"
>NibelungoCL</a
>
</div>
<!-- Copyright -->
</footer>     
</body>
</html>