<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<header>

<style>
 
 .navbar .nav-link {
        color: #0e0d0d !important;
      }
body {
    margin: 0;
    padding-top: 40px;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

</style>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand nav-link" target="_blank" href="/rinconUrbano.html">
        <strong>Rincón Urbano</strong>
      </a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="profile.html">Mi Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.youtube.com/watch?v=1Pq79-lv1tI" rel="nofollow"
              target="_blank">Bienvenido a Chile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.tripadvisor.cl/Attractions-g294291-Activities-Chile.html" target="_blank">Recomendaciones</a>
          </li>
        </ul>
  
        <ul class="navbar-nav d-flex flex-row">
          <!-- Icons -->
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://www.youtube.com/watch?v=1Pq79-lv1tI" rel="nofollow"
              target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://www.facebook.com/mdbootstrap" rel="nofollow" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://twitter.com/MDBootstrap" rel="nofollow" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://github.com/mdbootstrap/mdb-ui-kit" rel="nofollow" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
<body>
    <div class="container">
        <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="account-settings">
                    <div class="user-profile">
                        <div class="user-avatar">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                        </div>
                        <h5 class="user-name">Yuki Hayashi</h5>
                        <h6 class="user-email">yuki@Maxwell.com</h6>
                    </div>
                    <div class="about">
                        <h5>Sobre mí</h5>
                        <p>I'm Yuki. Full Stack Designer I enjoy creating user-centric, delightful and human experiences.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6 class="mb-2 text-primary">Detalles Personales</h6>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="fullName">Nombre</label>
                            <input type="text" class="form-control" id="fullName" placeholder="Nombre Completo">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="eMail">Email</label>
                            <input type="email" class="form-control" id="eMail" placeholder="Direccion de Email">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="phone">Telefono</label>
                            <input type="text" class="form-control" id="phone" placeholder="Numero de Telefono">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="website">Link Principal</label>
                            <input type="url" class="form-control" id="website" placeholder="URL que te represente">
                        </div>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6 class="mt-3 mb-2 text-primary">Direccion</h6>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="Street">Calle</label>
                            <input type="name" class="form-control" id="Street" placeholder="Tu Calle">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="ciTy">Ciudad</label>
                            <input type="name" class="form-control" id="ciTy" placeholder="Tu ciudad">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="sTate">Region</label>
                            <input type="text" class="form-control" id="sTate" placeholder="Tu Region">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="zIp">Zip</label>
                            <input type="text" class="form-control" id="zIp" placeholder="Codigo Postal (ZIP)">
                        </div>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="text-right">
                            <a type="button" id="submit" name="submit" class="btn btn-secondary" href="/rinconUrbano.html">Cancelar</a>
                            <button type="button" id="submit" name="submit" class="btn btn-primary">Actualizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
</body>
<!-- Footer -->
<footer
class="text-center text-lg-start text-white"
style="background-color: #191717a4"
>
<!-- Grid container -->
<div class="container p-4 pb-0">
<!-- Section: Links -->
<section class="">
<!--Grid row-->
<div class="row">
<!--Grid column-->
<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
  <h5 class="text-uppercase">Rincón Urbano</h5>

  <p>
    Un espacio para cononocer nuestra ciudad, compartir y opinar acerca de las distintas situaciones
    y fenomenos que ocurren en el Gran Santiago. Somos un medio alternativo que busca contar con la participación
    de su comunidad
  </p>
</div>
<!--Grid column-->

<!--Grid column-->
<div class="col-lg-2 col-md-6 mb-4 mb-md-0">
  <h5 class="text-uppercase">Opinión</h5>

  <ul class="list-unstyled mb-0">
    <li>
      <a href="#!" class="text-white">Link 1</a>
    </li>
    <li>
      <a href="#!" class="text-white">Link 2</a>
    </li>
    <li>
      <a href="#!" class="text-white">Link 3</a>
    </li>
    <li>
      <a href="#!" class="text-white">Link 4</a>
    </li>
  </ul>
</div>
<!--Grid column-->

<!--Grid column-->
<div class="col-lg-2 col-md-6 mb-4 mb-md-0">
  <h5 class="text-uppercase">Actualidad</h5>

  <ul class="list-unstyled mb-0">
    <li>
      <a href="#!" class="text-white">Link 1</a>
    </li>
    <li>
      <a href="#!" class="text-white">Link 2</a>
    </li>
    <li>
      <a href="#!" class="text-white">Link 3</a>
    </li>
    <li>
      <a href="#!" class="text-white">Link 4</a>
    </li>
  </ul>
</div>
<!--Grid column-->

<!--Grid column-->
<div class="col-lg-2 col-md-6 mb-4 mb-md-0">
  <h5 class="text-uppercase">Noticias</h5>

  <ul class="list-unstyled mb-0">
    <li>
      <a href="#!" class="text-white">Link 1</a>
    </li>
    <li>
      <a href="#!" class="text-white">Link 2</a>
    </li>
    <li>
      <a href="#!" class="text-white">Link 3</a>
    </li>
    <li>
      <a href="#!" class="text-white">Link 4</a>
    </li>
  </ul>
</div>
<!--Grid column-->

<!--Grid column-->
<div class="col-lg-2 col-md-6 mb-4 mb-md-0">
  <h5 class="text-uppercase">Comunidad</h5>

  <ul class="list-unstyled mb-0">
    <li>
      <a href="#!" class="text-white">Link 1</a>
    </li>
    <li>
      <a href="#!" class="text-white">Link 2</a>
    </li>
    <li>
      <a href="#!" class="text-white">Link 3</a>
    </li>
    <li>
      <a href="#!" class="text-white">Link 4</a>
    </li>
  </ul>
</div>
<!--Grid column-->
</div>
<!--Grid row-->
</section>
<!-- Section: Links -->

<hr class="mb-4" />

<!-- Section: CTA -->
<section class="">
<p class="d-flex justify-content-center align-items-center">
<a type="button" class="btn btn-outline-light btn-rounded" href="https://www.instagram.com/rurbanocl/">
  Siguenos en nuestro Instagram
</a>
</p>
</section>
<!-- Section: CTA -->

<hr class="mb-4" />

<!-- Grid container -->

<!-- Copyright -->
<div
class="text-center p-3"
style="background-color: rgba(0, 0, 0, 0.2)"
>
© 2023 Copyright:
<a class="text-white" href="https://github.com/NibelungoCL"
>NibelungoCL</a
>
</div>
<!-- Copyright -->
</footer>     
</html>